<% provide(:title, 'All questions') %>

<%- if !@questions.nil? %>
  <h1> Questions </h1>
  <div class="center">
    <%- if !logged_in? %>
      <p>You must be logged in to access the questions.</p>
      <%= link_to 'Sign up now to start quizzing!', signup_path, class: "btn btn-lg btn-primary" %><br><br><br>
      <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
  <%- @questions.each do |q| %>
    <p><%= link_to "#{q.text}", question_path(q.id) if logged_in? %></p>
    <p><%= q.text if !logged_in? %></p>
  <% end %>


<% else %>
  <h1> We haven't got any questions yet, they're coming soon!</h1>

<% end %>

<div class="center">
  <b><%= link_to "New question", new_question_path if (!current_user.nil? &&current_user.is_admin?) %></b>
</div>
