<% provide(:title, 'Question') %>
<div class="center jumbotron">
  
  <h1><%= @question.text %></h1>
  <br>
  
  <% @question.answers.each do |ans| %>
    <%- if ans.correct? %>
      <button class="btn btn-lg" onclick="myFunction()">Reveal answer</button><br><br>
      <h id="reveal_answer"></h>
      <script>
        function myFunction() {
          document.getElementById("reveal_answer").innerHTML = "<%= ans.answertext%>";
        }
      </script>
    <% end %>
  <% end %>
  
  <br><br>
  
  <% @question.answers.each do |ans| %>
    <%= form_for :given_answer, url: quiz_answers_path(@question), method: :post do |form| %>  
      <div class="actions">
        <%= form.hidden_field :answer_id, as: :hidden, value: ans.id %>
        <%= form.submit ans.answertext, class: "btn btn-lg btn-primary" %>
      </div><br>
    <% end %>
  <% end %>
  
  <%= link_to "All questions", questions_path %>

</div>
