<% provide(:title, 'Question') %>
<div class="center jumbotron">

  <h1><%= @question.text %></h1>
  <br>

  <%- if !@question.answers.blank? %>
    <% @question.answers.each do |ans| %>
      <button class="btn btn-lg btn-primary"><%= ans.answertext %></button><br><br>
    <% end %>
  <% else %>
    <p>This question has no answers yet, they will be added soon!</p>
    <%= link_to "Add answers", '#' if current_user.is_admin? %><br>
  <% end %>

  <% @question.answers.each do |ans| %>
    <%- if ans.correct? %>
      <button class="btn btn-lg" onclick="myFunction()">Reveal answer</button><br><br>
      <h id="reveal_answer"></h>
      <script>
        function myFunction() {
          document.getElementById("reveal_answer").innerHTML = "<%= ans.answertext%>";
        }
      </script>
    <% end %>
  <% end %>

  <br><br>



  <%- if current_user.is_admin? %>
    <%= link_to "Edit this question", edit_question_path(@question)%><br>
    <%= link_to "Delete this question", question_path(@question), method: :delete %><br>
  <% end %>

  <%= link_to "All questions", questions_path %>

</div>
