<% provide(:title, 'Question') %>
<div class="center jumbotron">
  
  <h1><%= @question.text %></h1>
  <br>
  
  <% @question.answers.each do |ans| %>
    <%- if ans.correct? %>
      <button class="btn btn-lg" onclick="myFunction()">Reveal answer</button><br><br>
      <h id="reveal_answer"></h>
      <script>
        function myFunction() {
          document.getElementById("reveal_answer").innerHTML = "<%= ans.answertext%>";
        }
      </script>
    <% end %>
  <% end %>
  
  <br><br>
  
  <%- if !@question.answers.blank? %>
    <% @question.answers.each do |ans| %>
      <%= form_for :given_answer, url: quiz_answers_path(@question), method: :post do |form| %>  
        <div class="actions">
          <%= form.hidden_field :answer_id, as: :hidden, value: ans.id %>
          <%= form.submit ans.answertext, class: "btn btn-lg btn-primary" %>
        </div><br>
      <% end %>
    <% end %>
  <% else %>
    <p>This question has no answers yet, they will be added soon!</p>
    <%= link_to "Add answers", '#' if current_user.is_admin? %><br>
  <% end %>

  <%- if current_user.is_admin? %>
    <%= link_to "Delete this question", question_path(@question), method: :delete %><br>
  <% end %>
  
  <%= link_to "All questions", questions_path %>

</div>
