<p> You're genius </p>

<%= @answer.answertext %>
<br>
<% if @answer.correct? %>
	<%= "You answered correctly" %>
<% else %>
	<%= "Incorrect" %><br>
	<%= link_to "Try again!", questions_path%>
<% end %>
<br>
<%= @answer.question_id %>