<p> You're genius </p>

<%= @answer.answertext %>
<br>
<% if @answer.correct? %>
	<%= "You answered correctly" %>
	<%= link_to "Next question", questions_path %>
<% else %>
	<%= "Incorrect" %><br>
	<%= link_to "Try again!", questions_show_path(@answer.question_id) %>
<% end %>
<br>
