<% provide(:title, 'Edit User') %>

<%- if (@user == current_user) || (!current_user.nil? && current_user.is_admin?) %>

    <h1>Edit my profile</h1>

    <div class="row", align="center">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(@user, url: user_path(@user.id), method: :patch) do |f| %>
          <%= render 'shared/user_error_messages' %>


          <%= f.hidden_field :id, as: :hidden, value: @user.id %>

          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>

          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
          <%- if @user == current_user %>
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>

          <%- else %>
            <%= f.label :is_admin, "Make this user an admin" %>
            <%= f.check_box :is_admin %>
          <% end %>
          <%= f.submit "Update this user", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>






  <%= link_to "Back to my profile", user_path(@user) if @user == current_user %>
  <%= link_to "This user's profile", user_path(@user) if (current_user.is_admin? && (!(@user == current_user))) %><br>
  <%= link_to "Back to all users", users_path if current_user.is_admin? %>
<% else %>
  <h1>You must be logged in as an admin user to view this page</h1>
<% end %>
