<% provide(:title, 'Users') %>


<%- if logged_in? && current_user.is_admin? %>
  
  <h1>Users</h1>
  <div align="center">
    <%= will_paginate %>
    <table>
      <col width="80" >
      <col width="500" >
      <col width="50" >
      <col width="40" >
      <col width="40" >
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= link_to 'View', user_path(user) %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: '   Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate %>
    <br>

    <%= link_to 'New User', signup_path %>
  </div>

<% else %>
  <h1>You must be logged in as an admin user to view this page</h1>
<% end %>
